[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[alias]
  unstage = reset HEAD --
  last = show -1 HEAD
  alias = config --get-regexp ^alias\\.
  pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
  fp = push --force-with-lease
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
	pnb = push -u origin HEAD
	pll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --no-merges origin/develop..
	ful = !git commit --fixup=$(git rev-parse --short --verify HEAD)
[user]
	signingkey = 7418E87BD2EA2BC2
  name = Klas Eskilson
  email = klas@billogram.com
[credential]
  helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[web]
	browser = open
[gpg]
	program = gpg
[rebase]
	autosquash = true
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
