[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[alias]
  unstage = reset HEAD --
  last = log -1 HEAD
  alias = config --get-regexp ^alias\\.
  pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
  fp = push --force-with-lease
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
[user]
  signingkey = DFD6795F09FDF07E
  name = Klas Eskilson
  email = klas.eskilson@gmail.com
[credential]
  helper = osxkeychain
